h1.headerH1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    align-items: center;
    color: #000000;
}

p.para {
    color: #747774;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    width: 81%;
    margin-top: 1rem;
}